<a href="{{ url }}" {{ bem('link', [], 'social-share', [classes]) }} target='_blank' rel='noopener' aria-label={{ label|trans}}>
  <i class="icon {{ slug }}" aria-hidden="true"></i>
  <span {{ bem('label', [], 'social-share__link') }}>{{ label|trans }}</span>
</a>
